 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #e5e5e5;
    font-family: 'Inter', sans-serif;
   
}

.logoAlura {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    
    position: absolute;
    width: 120px;
    height: 48px;
    left: 40px;
    top: 40px;
}

#textAreaEntrada {
    position: absolute;
    width: 680px;
    height: 48px;
    left: 240px;
    top: 168px;
    border: none;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;
}

textarea::placeholder{
    color: #0A3871;
}

.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;

    position: absolute;
    width: 252px;
    height: 18px;
    left: 240px;
    top: 851px;
}

.info img {
    width: 16px;
    height: 16px;
    flex: none;
    order: 0;
    flex-grow: 0;
}


.info span {
    width: 228px;
    height: 18px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.botoes {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    position: absolute;
    width: 680px;
    height: 67px;
    left: 240px;
    top: 885px;
}


.criptografar{
    padding: 24px;
    gap: 8px;
    width: 328px;
    height: 67px; 
    background: #0A3871;
    border-radius: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
    cursor: pointer;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.descriptografar{
    padding: 24px;
    gap: 8px;
    width: 328px;
    height: 67px;
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    flex: none;
    order: 1;
    flex-grow: 0;
    cursor: pointer;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #0A3871;
    text-align: center;
}

  
.resultado{
    position: absolute;
    width: 400px;
    height: 944px;
    left: 1000px;
    top: 40px;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

.resultado img {
    position: absolute;
    width: 336px;
    height: 304px;
    left: 32px;
    top: 243px;
    background: none;
}

.resultado .msg {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    background: none;
    position: absolute;
    width: 336px;
    height: 122px;
    left: 32px;
    top: 579px;
}

.resultado .msg #txt1 {
    width: 336px;
    height: 58px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #343A40;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    background: none;
}

.resultado .msg #txt2 {
    width: 336px;
    height: 48px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #495057;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    background: none;
}

.resultado #textAreaSaida {
    position: absolute;
    width: 336px;
    height: 700px;
    left: 32px;
    top: 72px;
    border: none;
    background: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #495057;
}

.botoes2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    background: none;
    position: absolute;
    width: 336px;
    height: 67px;
    left: 1032px;
    top: 885px;
}

#copiarBotao{
    display: none;
    padding: 24px;
    gap: 8px;
    width: 156px;
    height: 67px;
    background: D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
    cursor: pointer;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #0A3871;
}

#colarBotao {
    display: none;
    padding: 24px;
    gap: 8px;
    width: 156px;
    height: 67px;
    background: white;
    border: 1px solid #0A3871;
    border-radius: 24px;
    flex: none;
    order: 1;
    flex-grow: 0;
    cursor: pointer;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #0A3871;
}